/* start custom scss snippet */

.page__main {
  .header__title {
    height: auto; // reset height, to fit the square logo
    @include media-breakpoint-down(md) {
      height: auto; // reset height, to fit the square logo
    }
  }

  .header__brand {
    height: auto; // reset height, to fit the square logo
    @include media-breakpoint-down(md) {
      height: auto; // reset height, to fit the square logo
    }
  }

  #logo {
    content: url($baseurl + "/assets/images/logo/reprise_hor_color_large_50pct.svg");
    height: 5rem;
  }
}

.page__main--immersive {
  .header__title {
    height: auto; // reset height, to fit the square logo
    @include media-breakpoint-down(md) {
      height: auto; // reset height, to fit the square logo
    }
  }

  .header__brand {
    height: auto; // reset height, to fit the square logo
    @include media-breakpoint-down(md) {
      height: auto; // reset height, to fit the square logo
    }
  }

  #logo {
    content: url($baseurl + "/assets/images/logo/logo_50pct.svg");
    height: 8rem;
  }
}

.article__header--cover {
  width: 100%;
  max-height: 10rem;
  object-fit: cover;
}

/* fix for card image height, when wrapped in a href link */
.card__image {
  position: relative;
  width: 100%;
  height: 0;
  //height: 25rem;

  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 150%;

  & > a {
    display: block;
    width: 100%;

    //padding-bottom: 100%;
    height: auto;
    border-radius: inherit;
  }

  & > a > img {
    position: absolute;
    width: 100%;
    border-radius: inherit;
    object-fit: cover;
  }
}

/* end custom scss snippet */
